/* -------------------------------------------Body styling-------------------------------------------------------------- */

body{
    box-sizing: border-box;
    background-color: grey;

}
/* -----------------------------------------Landing styling---------------------------------------------------------------------- */
#landing-page{
    box-sizing: content-box;
    background-color: rgb(217, 211, 228);
}
#landing-photo{
    border: hidden;
    border-radius: 50%;
}

/* ---------------------------------------------navbar styles------------------------------------------------------------------ */
 
nav{
    background-color: rgb(179, 133, 173);
}
.nav-text:hover{
    color: rgb(236, 228, 228);
}

/*--------------------------------------------- Heading's COLORING--------------------------------------------------------------- */

#purple-myname{
    color: blueviolet;
}

/* ---------------------------------------------MEDIA QUERIES  ------------------------------------------------------------------- */

@media  (max-width :650px) {

#landing-photo{
    height: 200px;
    width: 200px;
    
}
    
}